# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# 临时文件
*.tmp
*.log
*.swp
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# 其他
*.md
上传到GitHub.md

